@tailwind base;
@tailwind components;
@tailwind utilities;

/* merriweather-sans-300 - latin */
@font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 300;
    src: local(""),
      url("../src/assets/fonts/merriweather-sans-v22-latin-300.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../src/assets/fonts/merriweather-sans-v22-latin-300.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* merriweather-sans-regular - latin */
  @font-face {
    font-family: "Merriweather Sans";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("../src/assets/fonts/merriweather-sans-v22-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../src/assets/fonts/merriweather-sans-v22-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* merriweather-regular - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 400;
    src: local(""),
      url("../src/assets/fonts/merriweather-v30-latin-regular.woff2")
        format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../src/assets/fonts/merriweather-v30-latin-regular.woff")
        format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* merriweather-700 - latin */
  @font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    src: local(""),
      url("../src/assets/fonts/merriweather-v30-latin-700.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../src/assets/fonts/merriweather-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  

body {
    overscroll-behavior: none;
}

[data-testid="carousel"] > div {
    border-radius: 0;
}

/* Noise */
.gradient::before {
  position: fixed;
  top: 0;
  content: '';
  height: 100%;
  width: 100%;
  display: block;
  filter: url(#noiseFilter);
  mix-blend-mode: screen; /* or multiply to make it darker */
  pointer-events: none;
  opacity: 0.3;
}

.gradient-svg {
  display: none;
}