@import "../src/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  grid-template-rows: min-content 1fr;
}

body {
  background-image: radial-gradient(rgba(20, 20, 20, 0.6) 2px, transparent 2px);
  background-size: 10px 10px;
}

/* MAIN */
@media screen and (min-width: 769px) {
  main {
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
    grid-template-rows: min-content 1fr;
  }
}

/* Yellow Line */
.yellow-line {
  position: fixed;
  left: 50%;
  transform: skew(-10deg);
  transform-origin: bottom left;
  mix-blend-mode: multiply;
  width: 14rem;
  height: 100%;
  pointer-events: none;
}
