/* merriweather-sans-300 - latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../src/assets/fonts/merriweather-sans-v22-latin-300.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-sans-v22-latin-300.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-sans-regular - latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../src/assets/fonts/merriweather-sans-v22-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-sans-v22-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../src/assets/fonts/merriweather-v30-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-v30-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../src/assets/fonts/merriweather-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --clr-white: #e6e6e6;
  --clr-black: #0a0a0a;
  --clr-dgray: #1c1c1c;
  --clr-green: #42b883;
  --clr-gray: #5c5b5a;
  --margin-050: 0.5rem;
  --margin-100: 1rem;
  --margin-200: 2rem;
  --margin-300: 3rem;
  --margin-400: 4rem;
  --ff-serif: "Merriweather";
  --ff-sans: "Merriweather Sans";
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --eff-hover: var(--clr-green);
  --eff-trans: 0.15s ease-in-out;
}

body {
  display: grid;
  position: relative;
  margin: 0;
  font-family: var(--ff-sans);
  font-weight: var(--fw-light);
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.07rem;
  background-color: var(--clr-dgray);
  color: var(--clr-white);
  background-image: radial-gradient(rgba(20, 20, 20, 0.6) 2px, transparent 2px);
  background-size: 10px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-serif);
}

/* UTILITIES */
.mt-1 {
  margin-top: var(--margin-100);
}
.mb-1 {
  margin-bottom: var(--margin-100);
}
.mt-2 {
  margin-top: var(--margin-200);
}
.mb-2 {
  margin-bottom: var(--margin-200);
}
.mt-3 {
  margin-top: var(--margin-300);
}
.mb-3 {
  margin-bottom: var(--margin-300);
}
.mt-4 {
  margin-top: var(--margin-400);
}
.mb-4 {
  margin-bottom: var(--margin-400);
}
