/* merriweather-sans-300 - latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../src/assets/fonts/merriweather-sans-v22-latin-300.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-sans-v22-latin-300.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-sans-regular - latin */
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../src/assets/fonts/merriweather-sans-v22-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-sans-v22-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../src/assets/fonts/merriweather-v30-latin-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-v30-latin-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700 - latin */
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../src/assets/fonts/merriweather-v30-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../src/assets/fonts/merriweather-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --clr-white: #e6e6e6;
  --clr-black: #0a0a0a;
  --clr-dgray: #1c1c1c;
  --clr-green: #42b883;
  --clr-gray: #5c5b5a;
  --margin-050: 0.5rem;
  --margin-100: 1rem;
  --margin-200: 2rem;
  --margin-300: 3rem;
  --margin-400: 4rem;
  --ff-serif: "Merriweather";
  --ff-sans: "Merriweather Sans";
  --fw-light: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --eff-hover: var(--clr-green);
  --eff-trans: 0.15s ease-in-out;
  --ltr-size: 10vh;
}

/* Font */
.thin {
  font-weight: var(--fw-light);
}

.sans {
  font-family: var(--ff-sans);
}
